.main {
    width: 100%;
    height: 290px;
    display: flex;
    flex-direction: row
}

.img,
figcaption {
    width: 340px;
    height: 220px;
    margin-top: 20px;
    padding-left: 85px;
}

#area {
    margin-top: 40px;
}

figcaption {
    width: 320, 98px;
    height: 78px;
    color: #8c94a8;
    font-family: "Poppins-Light";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

#arrow {
    position: relative;
    margin-left: 60px;
    top: -180px;
    border: solid #4a90e2;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 6px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

#arrow1 {
    position: relative;
    margin-left: 440px;
    bottom: 180px;
    border: solid #4a90e2;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 6px;
    transform: rotate(-40deg);
    -webkit-transform: rotate(-45deg);
}

#about {
    padding-top: 10%;
}

#loremipsum {
    width: 600px;
    height: 304px;
    color: #3e4d60;
    font-family: "Poppins-Light";
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    text-align: justify;
    float: right;
    padding-right: 90px;
    margin-right: 170px;
}

#image_about_us {
    width: 368px;
    height: 368px;
    float: left;
    padding-left: 85px;
    padding-right: 25px;
}

footer {
    width: 100%;
    height: 25px;
    clear: both;
    padding-top: 40px;
}

#createdByJ {
    opacity: 0, 5460258;
    width: 252, 96px;
    height: 16px;
    color: #908c8c;
    font-family: "Poppins-Light";
    font-size: 11px;
    font-weight: 400;
    line-height: 16px;
}

#line-footer {
    width: 100%;
    height: 3px;
    border: solid 1px #f1f1f2
}