<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="CSS/pages/index.css">
    <link rel="stylesheet" type="text/css" href="CSS/pages/main.css">
    <link rel="stylesheet" type="text/css" href="CSS/pages/reset.css">
    <script type="text/javascript" src="jquery/jquery.js"></script>
    <script type="text/javascript" src="js/menu.js"></script>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Space</title>
</head>

<body>
    <header>
        <div class="header-image"></div>
    </header>

    <nav class="menu-initial">

        <ul>
            <img src="imagens/logo.PNG" class="logo">

            <li>BLOG</li>
            <li>POPULAR</li>
            <li>ARCHIVE</li>
            <li>ABOUT</li>
        </ul>
    </nav>

    <section id="click-content">
        <h1>SPACE</h1>
        <div id="point">.
        </div>

    </section>
    <div id="content-description">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br> Quisque molestie elit at lacus...
        <button>click</button>

    </div>
    <section id="content-today">
        <article id="tredingTo">Trending
            <p id="today">Today</p>
        </article>
        <div class="line"></div>
        <article class="article">Lorem ipsum dolor sit amet, consectetuer adipiscing ligula eget dolor.
        </article>
        <div class="line"></div>
        <article class="article">Lorem ipsum dolor sit amet, consectetuer adipiscing ligula eget dolor.
        </article>
        <div class="line"></div>
        <article class="article">Lorem ipsum dolor sit amet, consectetuer adipiscing ligula eget dolor.
        </article>

    </section>
    <section class="main">

        <article class="area">

            <figure>
                <img src="imagens/43690 (1).jpg" class="img" alt="">
                <figcaption>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur luctus aliquet sapien….
                </figcaption>

            </figure>
            <div id="arrow"></div>
        </article>
        <article class="area">
            <figure>
                <img src="imagens/43688.jpg" class="img" alt="">

                <figcaption>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur luctus aliquet sapien….
                </figcaption>
            </figure>
        </article>
        <article class="area">
            <figure>

                <img src="imagens/43698.jpg" class="img" alt="">
                <figcaption>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur luctus aliquet sapien….
                </figcaption>
            </figure>
            <div id="arrow1"></div>
        </article>
    </section>
    <section id="about">
        <img src="imagens/43688.jpg" alt="" id="image_about_us">
        <div id="p">ABOUT US</div>
        <div id="loremipsum">

            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis,
            sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus.
            Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius
            laoreet. Quisque rutrum.
        </div>

    </section>
    <footer>
        <div id="line-footer"></div>
        <div id="createdByJ">© 2016 Created by Joyjet Digital Space Agency</div>
    </footer>
</body>

</html>